{% extends 'layouts/main.html' %}
{% block title %}Реєстрація{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Реєстрація<a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.username(class_ = 'form-control mb-3 first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.email(class_ = 'form-control mb-3', placeholder = form.email.label.text, required = true) }}
    {{ form.password(class_ = 'form-control mb-3', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control mb-3 last-input', placeholder = form.confirm.label.text, required = true) }}
    <button class="btn btn-sm btn-other-style"><a  class="btn btn-dark" href="{{ url_for('login') }}">Вхід</a></button>
    <input type="submit" value="Реєстрація" class="btn btn-dark">
    </form>
{% endblock %}
