{% extends 'base_ad.html' %}
{% block title %}
<title>Тести</title>
{% endblock %}
{% block body %}
<main role="main">
    <h3>{{ temma['test_name'] }}</h3>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for test in tests %}
                <div class="col-md-12">
                    <div class="card mb-4 shadow-sm">
                        {{ test['num_quest'] }}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('admin.edit_test_route', test_id=test['id']) }}">Редагувати</a>

                        {% if test['quest_img'] %}
                        <div class="textwidget custom-html-widget">
                            <img src="{{ test['quest_img'] }}" alt="">
                        </div>
                        {% endif %}

                        <div class="card-body">
                            {% if test['quest_text'] %}
                            <div class="card-text">{{ test['quest_text'] }}</div>
                            {% endif %}

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% for ans in test['ans_data'].replace('\n', '').replace('\r', '').replace('\xa0', '').split('!') %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary">{{ ans }}</button>
                                    {% endfor %}
                                </div>
                                <small class="text-muted">{{ test['vidpov'] }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}